{% extends "users/base.html" %}

{% block head_content %}
<title>Jotagram sign up</title>
{% endblock %}

{% block container %}
    <!-- Este if es para cuando ingresen mal el usuario o la contraseña le muestre el error qu ele mandamos en el view.py -->
    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}

    <form action="/users/signup" method="POST">
        {% csrf_token %}<!-- Siempre debe ir en un login pues es de django y es por seguridad info -->

        {{ form.as_p}}<!--Con esto django crea un formulario con los campos que ya se le 
        pusieron en el forms.py, asi que no tenemos que crearlo ni nada en front end-->

        <button class="btn btn-primary btn-block mt-5" type="submit">Register!</button>

    </form>

{% endblock %}